<div class="container">
  <div class="card mx-auto col-md-5 col-8 mt-3 p-0">
    <img class="mx-auto pic" src="https://i.imgur.com/kXUgBQZ.jpg" />
    <div class="card-title d-flex px-4">
      <ul class="list-group">
        <li *ngFor="let cartItem of cartItems" class="list-group-item">
          {{
            cartItem.carDetail.brandName +
              " " +
              cartItem.carDetail.carName +
              " - " +
              cartItem.days +
              " gün - Toplam: " +
              cartItem.carDetail.dailyPrice * cartItem.days +
              "₺"
          }}
        </li>
      </ul>
    </div>
    <div class="card-body">
      <p class="text-muted">Your payment details</p>
      <div class="numbr mb-3">
        <i class="col-1 fas fa-credit-card text-muted p-0"></i>
        <input class="col-10 p-0" type="text" placeholder="Card Number" />
      </div>
      <div class="line2 col-lg-12 col-12 mb-4">
        <i class="col-1 far fa-calendar-minus text-muted p-0"></i>
        <input class="cal col-5 p-0" type="text" placeholder="MM/YY" />
        <i class="col-1 fas fa-lock text-muted"></i>
        <input class="cvc col-5 p-0" type="text" placeholder="CVC" />
      </div>
    </div>
    <div class="footer text-center p-0">
      <div class="col-lg-12 col-12 p-0">
        <p (click)="rentCars()" class="order">Order Now</p>
      </div>
    </div>
  </div>
</div>
