<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div *ngIf="dataLoaded == true" class="row">
  <div (click)="navigateToCarDetail(car.carId)" *ngFor="let car of cars" class="col-sm-4" style="margin-bottom: 12px">
    <div class="card" style="width: 18rem" role="button">
      <img
        [src]="
          'https://localhost:44327/Uploads/Images/' + car.carImagesPaths[0]
        "
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ car.brandName + " " + car.carName }}</h5>
        <hr>
        <ul class="list-group">
          <li class="list-group-item">{{ "Renk: " + car.colorName }}</li>
          <li class="list-group-item">{{ "Model: " + car.modelYear }}</li>
        </ul>
        <hr>
        <h5 class="text-center">{{ car.dailyPrice + "₺" }}</h5>
      </div>
    </div>
  </div>
</div>
